<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
</head>
<body>
    <h1>这是登录页面</h1>
    <hr />
    <form action="{% url 'manager:login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
        {% for field in login_form %}
            <p>{{ field.label_tag }} {{ field }}{% if request.method == "POST" %}{{ field.errors.0 }}{% endif %}</p>
        {% endfor %}
        <input type="submit" value="登录">
    </form>
</body>
</html>