{% extends 'base.html' %}

{% block titile %} {{ book.name }} {% endblock %}
    {% block add_head_link %}
	    <link rel="stylesheet" type="text/css" href="/static/css/book_details.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/user_index.css" />
    {% endblock %}

{% block the_titile %} {{ book.name }} {% endblock %}

{% block content %}
    <div class="left_content">
        <div class="feat_prod_box" style="width: 850px;">
            <div class="prod_img"><img src="/media/{{ book.bookdetail.cover }}" alt="" title="" border="0" width=250ps height=330ps /></div>
            <div class="prod_title"><font size="3">{{ book.name }}</font></div><br>
            原价:<del><span class="book_inf">{{ book.origin_price }}元<br></span></del><div class="wspace"></div>
            折扣：<span class="book_price">{{ book.discount }}折</span><br><div class="wspace"></div>
            作者：<span class="book_inf">{{ book.author }}</span><br><div class="wspace"></div>
            出版社：<span class="book_inf">{{ book.publisher }}</span><br><div class="wspace"></div>
            分类：<span class="book_inf">{{ book.category }}</span><br><div class="wspace"></div>
            销量：<span class="book_inf">{{ book.sale_number }}</span>&nbsp;&nbsp;
            库存：<span class="book_inf">{{ book.stock }}</span><br><div class="wspace"></div>


            <a  class="buy" style="width: 74px; padding: 0px; height: 30px;" href="{% url 'manager:sold_out_or_putaway' book.book_id %}?redirect_to={{ request.path }}">
                {% if book.is_on_sale %}下架{% else %}上架{% endif %}</a>
            <a  class="buy" style="width: 74px; padding: 0px; height: 30px;" href="{% url 'manager:modify_book_page' book.book_id %}">修改信息</a>

            <div class="wspace"></div>
            <p>目录：<br>
            <div id="catalogue_text_display" name="catalogue"></div></p>
            <p>摘要：<br>
            <div id="summary_text_display" name="summary"></div></p>
            <br><br>
        </div>
    </div>
{% endblock %}

{% block script %}
    <style type="text/css">
        #catalogue_text_display {
            border: 1px;
            padding: 10px;
            min-height: 250px;
            overflow-y: auto;
            max-height: 300px;
            max-width: 600px;
        }
    </style>
    <style type="text/css">
        #summary_text_display {
            border: 1px;
            padding: 10px;
            min-height: 250px;
            overflow-y: auto;
            max-height: 300px;
            max-width: 600px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "/media/{{ book.bookdetail.catalogue }}",
                type: "GET",
                dataType: "text",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (data) {
                    var catalogue_block = document.getElementById('catalogue_text_display');
                    catalogue_block.innerText = data;
                },
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "/media/{{ book.bookdetail.summary }}",
                type: "GET",
                dataType: "text",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (data) {
                    var summary_block = document.getElementById('summary_text_display');
                    summary_block.innerText = data;
                },
            });
        });
    </script>
{% endblock %}