{% extends 'base.html' %}

{% block titile %} 我的订单 {% endblock %}
    {% block add_head_link %}
	    <link rel="stylesheet" type="text/css" href="/static/css/book_details.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/lookorder.css" />
    {% endblock %}

{% block the_titile %} 我的订单 {% endblock %}

{% block content %}
    <div class="order_box">
        {% if contacts.object_list.exists %}
            {% for order in contacts.object_list %}
                <table border="1">
                <th>订单号</th> <th>总价</th> <th>时间</th> <th>状态</th> <th>操作</th> <th>书籍</th> <th>作者</th> <th>出版社</th> <th>数量</th><th>单价</th>
                <tr>
                    <td width=3% rowspan="{{ order.items.count }}">{{ order.order_id }}</td>
                    <td width=5% rowspan="{{ order.items.count }}">{{ order.total_fees }}</td>
                    <td width=14% rowspan="{{ order.items.count }}">{{ order.create_date }}</td>
                    <td width=7% rowspan="{{ order.items.count }}">{% if order.status == 0 %}已取消
                        {% elif order.status == 1 %}待付款
                        {% elif order.status == 2 %}待处理
                        {% elif order.status == 3 %}待发货
                        {% elif order.status == 4 %}已收货
                        {% elif order.status == 5 %}已过期
                        {% elif order.status == 6 %}申请退款
                        {% elif order.status == 7 %}退款通过
                        {% elif order.status == 8 %}退款驳回{% endif %}</td>
                    <td width=5% rowspan="{{ order.items.count }}">{% ifequal order.status 1 %}
                            <form action="{% url 'user:cancel_order' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="order_id" value="{{ order.order_id }}">
                                <input type="submit" value="取消订单">
                            </form>
                        {% endifequal %}</td>
                    {% for item in order.items.all %}
                        <td width=20%><a href={% url 'user:look_book_detail_page' item.book.book_id %}> {{ item.book.name }}</a></td>
                        <td width=18%>{{ item.book.author }}</td>
                        <td width=18%>{{ item.book.publisher }}</td>
                        <td width=5%>{{ item.sale_count }}</td>
                        <td width=5%>{{ item.price }}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        {% else %}
            还没有订单，<a href="{% url 'user:home' %}">去逛书城</a>
        {% endif %}
    </div>
    {% include 'page_bar_template.html' %}
{% endblock %}