{% extends 'base.html' %}

{% block titile %} 我的购物车 {% endblock %}

{% block the_titile %} 我的购物车 {% endblock %}

{% block content %}
    {% if books.exists %}
        <form action="{% url 'user:shopping_cart_to_orders' %}" method="post">
            {% csrf_token %}
            <table>
                <th>书籍</th><th>作者</th><th>出版社</th><th>价格</th><th>库存</th><th>状态</th><th></th>
                {% for book in books %}
                    <tr>
                        <td><a href={% url 'user:look_book_detail_page' book.book_id %}> {{ book.name }}</a></td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.publisher }}</td>
                        <td>{{ book.price }}</td>
                        <td>{{ book.stock }}</td>
                        <td>数量:<input type="number" name="{{ book.book_id }}" value=0></td>
                        <td>{% if not book.is_on_sale %}已下架{% else %}销售中{% endif %}</td>
                        <td><a href={% url 'user:drop_book_from_shopping_cart' book.book_id %}> 删除</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% for receive_information in receive_informations %}
                <p><input type="radio" name="receive_information_id" value="{{ receive_information.receive_information_id }}"/>
                    收件人：{{ receive_information.recipient }}<br/>
                    手机号：{{ receive_information.phone }}<br/>
                    地址：{{ receive_information.address_province }} {{ receive_information.address_city }} {{ receive_information.address_town }}<br/>
                    详细地址：{{ receive_information.address_detailed }}
                </p>
            {% endfor %}
            <a href="{% url 'user:add_receive_information_page' %}?redirect_to={{ request.path }}"> 添加收货信息 </a>
            <input type="submit" value="提交">
        </form>
    {% else %}
        还没有书籍，<a href="{% url 'user:home' %}">去逛书城</a>
    {% endif %}
{% endblock %}