<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titile %}默认标题{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/gnt.css" />
    {% block add_head_link %}{% endblock %}
</head>
<body>
    <div id="wrap">
        {% block script %}{% endblock %}
        <div class="header" >
   	        <div class="logo">
   		        <img src="/static/imgs/logo.png" alt="" title="" border="0" />
   	        </div>
            {% include 'user_item_template.html' %}
        </div>

        <div class="center_content"><br>
            {% include 'search_bar_template.html' %}

            {% block content %}
                //html内容
            {% endblock %}

            <div class="clear"></div>
        </div><!--end of center content-->
        <div class="footer"></div>
    </div><!--end of wrap-->
</body>
</html>